﻿body {
    padding-top: 70px;
}

div.blue {
    background-color: #428bca;
    margin-bottom: 20px;
    color: white;
    padding-bottom: 12px;
    box-shadow: inset 0px 0px 20px 3px #808080;
}

div.panel-body > a.btn {
    color: #333333;
}

.ico:hover {
    text-decoration: none;
}

.img-ico {
    width: 25px;
    margin: 5px;
    -moz-transform: scale(1) rotate(-90deg);
    -webkit-transform: scale(1) rotate(-90deg);
    -o-transform: scale(1) rotate(-90deg);
    transform: scale(1) rotate(-90deg);
}

.img-ico:hover, a.img-ico:hover {
    -moz-transform: scale(2) rotate(0deg);
    -webkit-transform: scale(2)rotate(0deg);
    -o-transform: scale(2)rotate(0deg);
    transform: scale(2)rotate(0deg);
    transition: ease-in-out 0.5s all;
}


@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}


.copyright {
    margin: 14px 0;
    float: left;
}

div.pull-right.navbar-text {
    margin: 5px 15px;
}

.img-blog {
    float: left;
    width: 48%;
    margin: 0 15px 10px 0;
}

.map {
    margin-top: 15px;
    height: 200px;
}
/* Set the fixed height of the footer here */
#push {
    height: 80px;
}

#footer {
    height: 50px;
    max-height: 120px;
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #push {
        height: 120px;
    }
}

/* End Push */


iframe, object, embed {
    max-width: 100%;
    height: 75%;
}

.vimeo {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #ffffff;
    min-height: 200px;
}

.vimeo-full {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #ffffff;
    min-height: 400px;
}

.h1 {
    color: white;
}

.h1:hover, a.h1:visited {
    text-decoration: none;
    color: white;
}


/* Facebook style */
.fb-like-box.fb_iframe_widget {
    max-height: 514px;
    overflow: hidden;
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.panel-heading a.collapsed:after {
    content: "\e080";
}

header.navbar {
    box-shadow: 10px 0px 30px 1px #808080;
}

#footer {
    box-shadow: -10px 0px 30px 1px #808080;
}


.g-post {
    width: 100%;
}
