﻿<div class="panel panel-default">
    <div id="abbagliati" class="panel-heading"><h2>Les Abbagliati<small></small></h2></div>
    <div class="panel-body">
        <a id="nivo" href="img/Abbagliati.jpg" title="Les Abbagliati">
            <img src="img/Abbagliati%20small.jpg" class="img-rounded img-responsive img-blog" alt="Les Abbagliati" />
        </a>
        <p>Het barokensemble Les Abbagliati is gepassioneerd door het ontdekken van het 17e en 18e eeuwse repetoire. Zij brengen zowel gekende werken van componisten als Bach, Telemann en Couperin, als werken van minder gekende componisten zoals Bononcini, Montéclair of Goldberg, die Les Abbagliati graag voor het voetlicht willen brengen. <br>
Om het publiek op een andere manier kennis te laten maken met deze prachtige muziek werkt het ensemble voor sommige projecten samen met dansers en maakt het gebruik van de barokke gestiek. Dit zorgt voor een uniek visueel aspect en belooft een verfrissende duik in de geschiedenis! <br>
Les Abbagliati geven regelmatig concerten, zowel in België, als in de rest van Europa. In 2011 werden zij geselecteerd als jong ensemble in residentie in het festival van Ambronay waar ze overigens heel wat erkenning verkregen voor hun programma “La Victoire Amoureuse”. <br>
De muzikanten van Les Abbagliati zijn ervan overtuigd dat de essentie van de oude muziek het experimenteren is en het zoeken naar steeds nieuwe elementen in een muziek uit het verleden die zij springlevend wensen!
        </p>

        <a href="http://www.lesabbagliati.be/" target="_blank" type="button" class="btn btn-default">
            Website Abbagliati
        </a>
        <p style="clear:both"></p>
        <div class="row">
            <div class="col-sm-12">
                <iframe class="vimeo-full" src="//www.youtube.com/embed/R2weTh1J5s0?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<!-- Nivo -->
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
</script>
<script>
    $(document).ready(function(){
        $('a#nivo').nivoLightbox();
    });
</script>
