﻿<div class="panel panel-default">
    <div class="panel-heading"><h2>Kinderconcerten<small></small></h2></div>
    <div class="panel-body">
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=_6Jch8iV85Y" title="Symfonie voor Angsthazen en Durfals">
            <img src="img/Symfonie-voor-angsthazen-en-durfals-play.jpg" class="img-rounded img-responsive img-blog" alt="Symfonie voor angsthazen en durfals" />
        </a>
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=vRckpFa5jqs" title="Concert voor 1000 Sterren"></a>
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=vseiJ5i69YM" title="Raadsel voor Roosje"></a>
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=RXSH9UV7BrM" title="Concert voor Rafiq"></a>
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=iOdKvzFGgEA" title="Concert voor Rafiq 2"></a>
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=Vd4AzIbrGT0" title="Horen, zien en… Dansen!"></a>
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=JBnfAixQbUg" title="Couscous & Kaas"></a>

        <p>De Nederlandse regisseur Margrith Vrenegoor ontwikkelde samen met componist Toek Numan, filmer Peter Claassen en presentator Eric Robillard een serie jeugdconcerten voor symfonieorkesten, muziekensembles of koren en leerlingen van de basisschool. De leerlingen van de basisschool nemen actief deel aan deze concerten. Ze zingen, spreken ritmisch teksten, klappen. Ze maken een geluidsdecor, doen bodypercussie en ze bewegen op de muziek.</p>
        <a href="http://1000sterren.nl" target="_blank" type="button" class="btn btn-default">
            Site Margrith Vrenegoor
        </a>
        <p style="clear:both"></p>
        <div class="row">
            <div class="col-sm-6">
                <iframe class="vimeo" src="//www.youtube.com/embed/BWB1R8A-FHQ" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-sm-6">
                <iframe class="vimeo" src="//player.vimeo.com/hubnut/album/2542188?color=44bbff&amp;background=000000&amp;slideshow=1&amp;video_title=1&amp;video_byline=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>


        </div>
    </div>
</div>

<!-- Nivo -->
<script>
    $(document).ready(function ()
    {
        $('a#nivo').nivoLightbox();
    });
</script>