﻿<div id="artists" class="panel panel-default">
    <div class="panel-heading"><h2>Revue Blanche<small></small></h2></div>
    <div class="panel-body">
        <a id="nivo" href="img/Revue%20Blanche%20kleur.jpg" title="Revue Blanche">
            <img src="img/Revue%20Blanche%20kleur.jpg" class="img-rounded img-responsive img-blog" alt="Revue Blanche" />
        </a>
        <p>Het vocaal-instrumentaal ensemble Revue Blanche werd opgericht in 2010 door vier jonge Brusselaars met gelijkgestemde muzikale ideeën. Lore Binon (sopraan), Anouk Sturtewagen (harp), Kris Hellemans (altviool) en Caroline Peeters (fluit) brengen Europees muzikaal erfgoed uit verschillende stijlperiodes op een unieke wijze tot leven. </p>

        <a href="http://revueblanche.be" target="_blank" type="button" class="btn btn-default">
            Website Revue Blanche
        </a>
        <!--<div class="g-post" data-href="https://plus.google.com/104320471478983489887/posts/VXL6wxHMPuk"></div>-->
    </div>
</div>

<!-- Google + -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<!-- Nivo -->
<script>$(document).ready(function(){$('a#nivo').nivoLightbox();});</script>