﻿<div class="panel panel-default">
    <div id="abbagliati" class="panel-heading"><h2>Gitaarduo Yves Storms (B) - Eric Franceries (F)<small></small></h2></div>
    <div class="panel-body">
        <!--<a id="nivo" href="img/Abbagliati.jpg" title="Les Abbagliati">
            <img src="img/Abbagliati%20small.jpg" class="img-rounded img-responsive img-blog" alt="Les Abbagliati" />
        </a>-->
        <p>
            De Belgische gitarist Yves Storms en Fransman Eric Franceries slaan de handen in elkaar voor  een gemeenschappelijk project. Beide gereputeerde gitaristen leerden elkaar kennen door gemeenschappelijke masterclasses, summer schools en concerten. Ze maakten van de gelegenheid van hun ontmoetingen gebruik om een project in duo uit te werken. 
        </p>
        
        

        <a href="http://www.yvesstorms.be/" target="_blank" type="button" class="btn btn-default">
            Website Yves Storms
        </a>
        <a href="http://www.eric-franceries.com/" target="_blank" type="button" class="btn btn-default">
            Website Eric Franceries
        </a>
        <a href="bin/projectStormsFranceriesNL.docx" target="_blank" type="button" class="btn btn-default">
            Download document
        </a>
        <p style="clear:both"></p>
        <div class="row">
            <div class="col-sm-12">
                <div data-configid="6145582/10697846" style="height:800px;" class="vimeo-full issuuembed"></div>
                <script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
            </div>
        </div>
        
    </div>
</div>

<!-- Nivo -->
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
</script>
<script>
    $(document).ready(function(){
        $('a#nivo').nivoLightbox();
    });
</script>
