<div class="panel panel-default">
    <div id="triokhaldei"
         class="panel-heading"><h2>Trio Khaldei<small></small></h2></div>
    <div class="panel-body">
        <a id="nivo"
           href="img/Trio-Khaldei.jpg"
           title="Trio Khaldei">
            <img src="img/Trio-Khaldei.jpg"
                 class="img-rounded img-responsive img-blog"
                 alt="Trio Khaldei" />
        </a>
        <p>Trio Khaldei verenigt  pianiste Barbara Baltussen, violist Pieter Jansen en cellist Francis Mourey. Zij hebben elkaar gevonden in hun passie voor kamermuziek en in het bijzonder voor de unieke klankkleur van het pianotrio.</p>
        <p>Naast Russische muziek heeft ook  Vlaamse en Belgische muziek een prominente plaats in de programmatie van Trio Khaldei. In de toekomst wil het trio door het geven van compositieopdrachten ook een bijdrage leveren aan de verrijking van het Belgisch/Vlaams cultureel erfgoed.</p>
        <p>Ondanks het jonge bestaan stond Trio Khaldei al in prestigieuze zalen als Concertgebouw Brugge, Amuz in Antwerpen en Bozar in Brussel. </p>
        <a href="http://www.triokhaldei.com/"
           target="_blank"
           type="button"
           class="btn btn-default">
            Website Trio Khaldei
        </a>
    </div>
</div>

<!-- Nivo -->
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
</script>
<script>
    $(document).ready(function(){
        $('a#nivo').nivoLightbox();
    });
</script>
