﻿<div class="panel panel-default">
    <div class="panel-heading"><h2>Les Abbagliati<small></small></h2></div>
    <div class="panel-body">
        <a id="nivo" href="../img/Abbagliati.jpg" title="Les Abbagliati">
            <img src="../img/Abbagliati.jpg" class="img-rounded img-responsive img-blog" alt="les Abbagliati" />
        </a>
        <p>
            L’ensemble baroque les Abbagliati est passionné par la mise à jour du répertoire des 17ème et 18ème siècles. <br>
            Leur répertoire s’étend d’œuvres de Bach, Telemann, Couperin à des compositeurs qu’ils désirent sortir de l’ombre tels que Bononcini, Montéclair, Goldberg. <br>
            Afin de partager autrement avec le public le plus large le Bonheur et la Beauté de cette musique, l’ensemble collabore lors de certains projets, avec des danseurs baroques et utilise la pratique de la mise en geste ce qui offre un aspect visuel unique et promet un plongeon rafraichissant dans l’histoire! <br>
            Les Abbagliati se produisent régulièrement en Belgique et en Europe. En 2011, ils ont notamment étés sélectionnés comme jeune ensemble en résidence au festival d’Ambronay ou ils ont d’ailleurs étés remarqués dans leur programme «La Victoire Amoureuse». <br>
            Les musiciens des Abbagliati sont convaincus que l’essence de la musique ancienne est l’expérience et la recherche constante de nouveaux éléments dans une musique du passé qu’ils veulent pleine de vie!
        </p>

        <a href="http://lesabbagliati.be/" target="_blank" type="button" class="btn btn-default">
            Site les Abbagliati
        </a>
    </div>
</div>
<!-- Nivo-lightbox -->
<script>
    $(document).ready(function ()
    {
        $('a#nivo').nivoLightbox();
    });
</script>

<script>
    $(document).ready(function ()
    {
        $('#lightbox').nivoLightbox();
    });
</script>