﻿<div class="panel panel-default">
    <div class="panel-heading"><h2>Concerts pour enfants<small></small></h2></div>
    <div class="panel-body">
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=_6Jch8iV85Y" title="Symphonie pour Poltrons et Intrépides">
            <img src="../img/Symfonie-voor-angsthazen-en-durfals-play.jpg" class="img-rounded img-responsive img-blog" alt="Symphonie pour Poltrons et Intrépides " />
        </a>
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=vRckpFa5jqs" title="Concert pour 1000 Etoiles"></a>
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=vseiJ5i69YM" title="Une énigme pour Roosje"></a>
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=RXSH9UV7BrM" title="Concert pour Rafiq "></a>
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=iOdKvzFGgEA" title="Concert pour Rafiq 2"></a>
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=Vd4AzIbrGT0" title="Ecouter, regarder et… Danser!"></a>
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=JBnfAixQbUg" title="Couscous & Fromage "></a>



        <p>Le metteur en scène hollandais Margrith Vrenegoor a développé avec le compositeur  Toek Numan, le cinéaste   Peter Claassen et le présentateur Eric Robillard une série de concerts pour orchestre symphonique, ensemble musical ou chorale, qui est conçue pour un publique de jeunes. Les élèves de la primaire participent activement aux concerts. Ils chantent, récitent des textes de manière rythmique, accompagnent en tapant dans les mains. Ils forment ainsi un décor sonore, font du body percussion et des mouvements sur la musique.</p>
        <a href="http://1000sterren.nl" target="_blank" type="button" class="btn btn-default">
            Site Margrith Vrenegoor
        </a>
        <p style="clear:both"></p>
        <div class="row">
            <div class="col-sm-6">
                <iframe class="vimeo" src="//www.youtube.com/embed/BWB1R8A-FHQ" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-sm-6">
                <iframe class="vimeo" src="//player.vimeo.com/hubnut/album/2542188?color=44bbff&amp;background=000000&amp;slideshow=1&amp;video_title=1&amp;video_byline=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>


        </div>
    </div>
</div>

<!-- Nivo -->
<script>
    $(document).ready(function ()
    {
        $('a#nivo').nivoLightbox();
    });
</script>