﻿<div class="panel panel-default">
    <div class="panel-heading"><h2>Revue Blanche<small></small></h2></div>
    <div class="panel-body">
        <a id="nivo" href="../img/Revue%20Blanche%20kleur.jpg" title="Revue Blanche">
            <img src="../img/Revue%20Blanche%20kleur.jpg" class="img-rounded img-responsive img-blog" alt="Revue Blanche" />
        </a>
        <p>C’est en 2010 que quatre jeunes Bruxellois entreprenants, partageant les mêmes idées musicales, décident de fonder l’ensemble instrumental et vocal Revue Blanche. Lore Binon (soprano), Anouk Sturtewagen (harpe), Kris Hellemans (alto) et Caroline Peeters (flûte) interprètent et ressuscitent de façon unique des oeuvres relevant du patrimoine musical européen de différentes périodes et de différents styles.</p>

        <a href="http://revueblanche.be" target="_blank" type="button" class="btn btn-default">
            Site Revue Blanche
        </a>
    </div>
</div>

<!-- Nivo-lightbox -->
<script>
    $(document).ready(function(){
        $('a#nivo').nivoLightbox();
    });
</script>