﻿<div class="panel panel-default">
    <div class="panel-heading"><h2>Duo Yves Storms (B) - Eric Franceries (F)<small></small></h2></div>
    <div class="panel-body">
        <!--<id="nivo" href="../img/Abbagliati.jpg" title="Duo Yves Storms (B)  - Eric Franceries (F)">
         <img src="../img/Abbagliati.jpg" class="img-rounded img-responsive img-blog" alt="les Abbagliati" />
     </a>-->
        <p>
            Le guitariste belge Yves Storms et le Français Eric Franceries se joignent pour un projet commun.<br />
            Ces deux guitaristes réputés se sont rencontrés lors des masterclass commun, summer schools et concerts. Ils ont saisi l’occasion de leurs rencontres pour développer un projet en duo.
        </p>


        <a href="http://www.yvesstorms.be/" target="_blank" type="button" class="btn btn-default">
            Site Yves Storms
        </a>
        <a href="http://www.eric-franceries.com/" target="_blank" type="button" class="btn btn-default">
            Site Eric Franceries
        </a>
        <a href="../../bin/projectStormsFranceriesFR.docx" target="_blank" type="button" class="btn btn-default">
            Télécharger le document
        </a>
        <p style="clear:both"></p>
        <div class="row">
            <div class="col-sm-12">
                <div data-configid="6145582/10698064" style="height:800px;" class="issuuembed"></div>
                <script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
            </div>
        </div>
    </div>
</div>
<!-- Nivo-lightbox -->
<script>
    $(document).ready(function ()
    {
        $('a#nivo').nivoLightbox();
    });
</script>

<script>
    $(document).ready(function ()
    {
        $('#lightbox').nivoLightbox();
    });
</script>