<div class="panel panel-default">
    <div class="panel-heading"><h2>Trio Khaldei<small></small></h2></div>
    <div class="panel-body">
        <a id="nivo"
           href="../img/Trio-Khaldei.jpg"
           title="Trio Khaldei">
            <img src="../img/Trio-Khaldei.jpg"
                 class="img-rounded img-responsive img-blog"
                 alt="Trio Khaldei" />
        </a>
        <p>
            Le Trio Khaldei est composé de la pianiste <a href="http://www.triokhaldei.com/fr/musiciens/barbara-baltussen/"
                                                          target="_blank"
                                                          title="Barbara Baltussen">Barbara Baltussen</a>, du violoniste <a href="http://www.triokhaldei.com/fr/musiciens/pieter-jansen/"
                                                                                                                            target="_blank"
                                                                                                                            title="Pieter Jansen">Pieter Jansen</a> et du violoncelliste <a href="http://www.triokhaldei.com/fr/musiciens/francis-mourey/"
                                                                                                                                                                                            target="_blank"
                                                                                                                                                                                            title="Francis Mourey">Francis Mourey</a>. Ils se sont trouvés dans leur passion commune pour la musique de chambre en en particulier pour la sonorité unique du trio à clavier.
        </p>
        <p>Le trio se concentre sur la musique des 19ème, 20ème et 21ème siècles. Le grand romantisme allemand, la richesse en couleurs de l’impressionnisme français, les rythmes typiques, les harmonies et les sentiments exprimés par les écoles nationales, les expériences de l’avant-garde mais également la musique d’aujourd’hui et de demain.</p>

        <a href="http://www.triokhaldei.com/"
           target="_blank"
           type="button"
           class="btn btn-default">
            Site Trio Khaldei
        </a>
    </div>
</div>

<!-- Nivo-lightbox -->
<script>
    $(document).ready(function ()
    {
        $('a#nivo').nivoLightbox();
    });
</script>