﻿<div class="panel panel-default">
    <div class="panel-heading"><h2>Children's concerts<small></small></h2></div>
    <div class="panel-body">
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=_6Jch8iV85Y" title="">
            <img src="../img/Symfonie-voor-angsthazen-en-durfals-play.jpg" class="img-rounded img-responsive img-blog" alt="" />
        </a>
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=vRckpFa5jqs" title=""></a>
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=vseiJ5i69YM" title=""></a>
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=RXSH9UV7BrM" title=""></a>
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=iOdKvzFGgEA" title=""></a>
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=Vd4AzIbrGT0" title=""></a>
        <a data-lightbox-gallery="gallery2" id="nivo" href="https://www.youtube.com/watch?v=JBnfAixQbUg" title=""></a>



        <p>Dutch director Margrith Vrenegoor,  composer Toek Numan, filmer Peter Claassen and presenter Eric Robillard have developed a series of youth concerts for symphony orchestras, music ensembles, choirs and primary school children.  Pupils play an active role in these concerts.  Singing, hand clapping and chanting rhythmic lyrics.  Together they create a sound setting, perform body percussion,  music and movement.</p>
        <a href="http://1000sterren.nl" target="_blank" type="button" class="btn btn-default">
            Margrith Vrenegoor
        </a>
        <p style="clear:both"></p>
        <div class="row">
            <div class="col-sm-6">
                <iframe class="vimeo" src="//www.youtube.com/embed/BWB1R8A-FHQ" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-sm-6">
                <iframe class="vimeo" src="//player.vimeo.com/hubnut/album/2542188?color=44bbff&amp;background=000000&amp;slideshow=1&amp;video_title=1&amp;video_byline=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>


        </div>
    </div>
</div>

<!-- Nivo -->
<script>
    $(document).ready(function ()
    {
        $('a#nivo').nivoLightbox();
    });
</script>