﻿<div class="panel panel-default">
    <div class="panel-heading"><h2>Revue Blanche<small></small></h2></div>
    <div class="panel-body">
        <a id="nivo" href="../img/Revue%20Blanche%20kleur.jpg" title="Revue Blanche">
            <img src="../img/Revue%20Blanche%20kleur.jpg" class="img-rounded img-responsive img-blog" alt="Revue Blanche" />
        </a>
        <p>The vocal-instrumental ensemble Revue Blanche was founded in 2010 by four young musicians from Brussels who share the same musical ideas. In a unique way Lore Binon (soprano), Anouk Sturtewagen (harp), Kris Hellemans (viola) and Caroline Peeters (flute) are bringing alive European musical heritage from different style periods.</p>

        <a href="http://revueblanche.be" target="_blank" type="button" class="btn btn-default">
            Website Revue Blanche
        </a>
    </div>
</div>

<!-- Nivo-lightbox -->
<script>
$(document).ready(function(){
    $('a#nivo').nivoLightbox();
});
</script>