﻿<div class="panel panel-default">
    <div class="panel-heading"><h2>Trio Khaldei<small></small></h2></div>
    <div class="panel-body">
        <a id="nivo" href="../img/Trio-Khaldei.jpg" title="Trio Khaldei">
            <img src="../img/Trio-Khaldei.jpg" class="img-rounded img-responsive img-blog" alt="Trio Khaldei" />
        </a>
        <p>Trio Khaldei unites  pianist Barbara Baltussen, violinist Pieter Jansen and cellist Francis Mourey. They have found each other in their passion for chamber music, and the unique sound of the piano trio in particular.  </p>
        <p>Besides Russian music,  Flemish and Belgian has an important place in the programs of Trio Khaldei.  </p>
        <p>Despite its young existance Trio Khaldei has already performed in prestigious venues, such as Concertgebouw Bruges, Amuz Antwerp and Bozar in Brussels. </p>

        <a href="http://www.triokhaldei.com/" target="_blank" type="button" class="btn btn-default">
            Website Trio Khaldei
        </a>
    </div>
</div>

<!-- Nivo-lightbox -->
<script>
$(document).ready(function(){
    $('a#nivo').nivoLightbox();
});
</script>